/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    background: linear-gradient(white,#DAE0ED)
}

section {
    padding: 10px;
}

button {
    width: 100px;
    height: 25px;
    border-radius: 10px;
    background: black;
    border: none;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

button:active {
    background: navy;
}

a {
    text-decoration: none;
    padding: 3px;
    color: black;
    -webkit-transition: all .5s;
    border-radius: 5px;
}

a:hover {
    color:#536EC9;
}

.navbar .nav li a:hover {
    text-shadow: 0 0 8px white;
}

img{
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

/* NAVBAR */

.navbar {
    border-bottom: 1px solid black;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(#DADDE8,#93A4CC);
    z-index: 10;
}

.navbar .nav {
    display: inline;
    position: absolute;
    top: 0;
    left: 20px;
}

.navbar .nav li {
    padding: 24px 10px;
}

.navbar .social {
    display: inline;
    position: absolute;
    top: 10px;
    right: 0;
}

.navbar .social li a {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 8px 10px;
    text-indent: -9999em;
    overflow: hidden;
}

.navbar li.twitter {
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;
}

.navbar li.facebook {
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
}

.navbar li {
    display: inline-block;
    list-style-type: none;
}

/* FULL PAGE */

.container {
    margin: 0 auto;
    max-width: 960px;
}

h1 {
    font-size: 48px;
    text-align: center;
    padding: 20px;
    margin-top: 75px;
    font-family: 'Cantora One', sans-serif;
}

/* Features */

.features {
    text-align: center;
}

.features .side {
    position: relative;
    bottom: 50px;
}

.features div {
    display: inline-block;
    padding: 5px;
}

/* About */

h2 {
    text-align: center;
    padding: 10px;
    color: navy;
    font-family: 'Cantora One', sans-serif;
}

.about p {
    text-align: center;
    width: 80%;
    margin: 0 10%;
}

/* CONTENT  */

.content {
    max-width: 840px;
    margin: 0 auto;
}

/* Animals */
.animal h3 , .rightanimal h3 {
    margin: 15px 0;
    font-size: 25px;
    color: navy;
    font-family: 'Pathway Gothic One', sans-serif;
}

.animal , .rightanimal {
    position: relative;
    padding: 20px;
    padding-left: 120px;
}

.animal:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 100px;
    height: 100px;
    background: url(../img/animals.png) -805px -20px;
}

.rightanimal:before {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;
    width: 100px;
    height: 100px;
    background: url(../img/animals.png) -805px -20px;
}

.right {
        padding-left: 0;
        padding-right: 120px;
        text-align: right;
}
.bear:before {
    background-position: -970px -200px;
}

.pig:before {
    background-position: -330px -20px;
}

.bee:before {
    background-position: -805px -200px;
}

.dog:before {
    background-position: -970px -20px;
}

.bull:before {
    background-position: -1120px -20px;
}

figure img {
    float: right;
    margin: 10px;
    margin-top: 20px;
}
.rightanimal figure img{
    float: left;
}

/* Convinced */

.convinced {
    text-align: center;
}

/* FOOTER */
footer {
    background: linear-gradient(#383838,#171717);
    padding: 10px;
    margin-top: 20px;
    color: white;
}

footer a {
    color: lightgrey;
}

footer a:hover {
    color: white;
}
footer ul li {
    display: inline;
    padding-left: 5px;
}

footer .social {
    float: right;
}

footer .nav {
    float: left;
}

.copyright {
    clear: both;
    padding-left: 5px;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 960px) {
    .side img {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    figure img {
        display: none;
    }

    .main img {
        width: 322px;
        height: 280px;
        margin: 0 auto;
    }

    section {
        margin: 10px;
    }

    .navbar .social li a {
        width: 24px;
        height: 24px;
    }

    h1 {
        font-size: 30px;
        padding-bottom: 0;
    }
}
